{% extends "base.html" %}
{% block title %}Profile | Sticky Notes{% endblock %}
{% block content %}
<section class="panel narrow">
    <h1>Manage profile</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Account details</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Profile details</legend>
            {{ profile_form.as_p }}
        </fieldset>
        <button class="button" type="submit">Save profile</button>
    </form>
</section>
{% endblock %}
